# Aula 2 - Exercícios Extra - Python e Pandas
### Consulta a internet (Google, Stackoverflow e etc) liberada!!

#### Fonte dos exercícios:
1 - https://www.w3resource.com/python-exercises/python-basic-exercises.php

2 - https://www.kaggle.com/python10pm/pandas-75-exercises-with-solutions

3 - https://www.kaggle.com/python10pm/pandas-exercises-with-solutions-3-3

In [1]:
# Importe a biblioteca pandas e numpy
import pandas as pd
import numpy as np

### 2.8 Escreva uma função para ordenar uma lista de dicionários usando uma função Lambda. 
### A função criada deve receber como argumento a chave do dicionário que será usada 
### na ordenação da lista.

In [8]:
# Dica: use a função sorted
def sort_dict_list(l, col):
    """retorne os valores do complemento de s1 em relação a s2
    """
    # YOUR CODE HERE
    try:
        dict_sorted = sorted(l, key=lambda x: x[col])
        return dict_sorted
        
    except:
        raise NotImplementedError('Não implementado.')

In [9]:
## Faça seus testes aqui
data = [{'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']},
        {'name': ['David'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']},
       {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']}]

sort_dict_list(data, 'name')

[{'name': ['David'],
  'class': ['V'],
  'subject_integration': ['english', 'math', 'science']},
 {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english', 'math', 'science']},
 {'name': ['Surya'],
  'class': ['V'],
  'subject_integration': ['english', 'math', 'science']}]

In [10]:
# Validação para nota
data = [{'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']},
        {'name': ['David'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']},
       {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']}]

data_sorted = [{'name': ['David'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']},
        {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']},
       {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english', 'math', 'science']}]

assert sort_dict_list(data, 'name') == data_sorted

### 2.9 Escreva uma função para criar uma nova coluna 'segundo' que tenha 
### o segundo maior valor de cada linha de df.

In [29]:
# Dica 1: Use a função apply do Dataframe aplicando uma função lambda.
#            e use a função sorted de List dentro da função lambda.
# Dica 2: Aplique a função lambda no eixo 1.

def segundo_maior(df):
    """retorne os valores que não são comuns em duas séries
    """
    # YOUR CODE HERE
    try:
        df['segundo'] = df.apply(lambda x: sorted(x)[-2], axis = 1)
        return df
        
    except:
        raise NotImplementedError('Erro.')

In [30]:
## Faça seus testes aqui
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)

segundo_maior(df)

   d1  d2  d3  segundo
0  20  33  19       20
1  36  25  47       36
2  25  48   9       25
3   4  39  27       27
4   1  49  48       48
5  20  37  26       26
6  17  45  24       24
7  47  36  21       36
8   2  37   1        2
9  40  31   2       31

In [31]:
# Validação para nota
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)
assert list(segundo_maior(df)['segundo']) == [20, 36, 25, 27, 48, 26, 24, 36, 2, 31]

### 2.10 Escreva uma função para retornar a coluna que contem a maior quantidade de
### valores máximos por linha
#### Exemplo: Considere uma o dataframe a seguir
|    |   d1 |   d2 |   d3 |
|---:|-----:|-----:|-----:|
|  0 |   20 |   33 |   49 |
|  1 |   36 |   25 |   47 |
|  2 |   55 |   48 |    9 |
|  3 |    1 |   12 |    3 |

#### Resultado Esperado: [49, 47,  9, 3]

In [65]:
# Dica 1: Use a função apply do Dataframe aplicando a função np.argmax.
# Dica 2: Aplique a função np.argmax no eixo 1.
# Dica 3: Use a funcao value_counts para contar quantas vezes cada coluna aparece 
#         como índice de máximo valor
# Dica 4: Use o código df.iloc[:,N]  ( onde N é o índice da coluna) para retornar os
#         dados da coluna desejada. Encontre o valor N com a função iloc

def column_of_max_values(df):
    """retorne os valores que não são comuns em duas séries
    """
    # YOUR CODE HERE
    try:
        dict_indColMaiorQtdPorLinha = df.apply(lambda x: np.argmax(x), axis=1)
        freq = dict_indColMaiorQtdPorLinha.value_counts()
        indc_colMaiorQtd = freq.keys()[0]
        return df.iloc[:, indc_colMaiorQtd]
    
    except:
        raise NotImplementedError('Erro na função')

In [66]:
## Faça seus testes aqui
data = {'d1': [20, 36, 25,  4,  1, 20, 17, 47,  2, 40],
        'd2': [33, 25, 48, 39, 49, 37, 45, 36, 37, 31],
        'd3': [19, 47,  9, 27, 48, 26, 24, 21,  1,  2]}
df = pd.DataFrame(data)

column_of_max_values(df)

0    33
1    25
2    48
3    39
4    49
5    37
6    45
7    36
8    37
9    31
Name: d2, dtype: int64

In [67]:
# Validação para nota
df = pd.DataFrame({'d1': [20, 36, 55, 1],
                    'd2': [33, 25, 48, 12],
                    'd3': [49, 47,  9, 3]})
assert list(column_of_max_values(df)) == [49, 47,  9, 3]